input {
    display: block;
    margin: 0px auto;
    margin-top: 20px;
    background-color: #FFF;
    border: 1px solid #777;
    padding: 15px 10px;
    width: 100%;
    border-radius: 5px;
    color: #333;
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0.8);
}

.payment-input {
    margin-top: 5px;
}

// input[type="date"]::-webkit-calendar-picker-indicator {
//     background: transparent;
//     bottom: 0;
//     color: transparent;
//     cursor: pointer;
//     height: auto;
//     left: 0;
//     position: absolute;
//     right: 0;
//     top: 0;
//     width: auto;
// }