<div class="starter-body">
    <div class="starter-header admission">
        <div class="company-details">
            <div class="company-name">New Admission</div>
            <span>Welcome to Chintan Classes.</span>
        </div>
    </div>
    <div class="form">
        <form [formGroup]="admissionForm">
            <app-select formControlName="class" [options]="classesOptions" (click)="getBatches()"></app-select>
            <app-select formControlName="board" [options]="boardsOptions"></app-select>
            <app-select formControlName="batch" [options]="batchOptions"></app-select>

            <app-text formControlName="surname" [placeholder]="'Surname'"></app-text>
            <app-text formControlName="firstName" [placeholder]="'First name'"></app-text>
            <app-text formControlName="secondName" [placeholder]="'Second name'"></app-text>
            <app-text formControlName="dob" [type]="dobType" [id]="'dob'" [placeholder]="'Date of Birth'" (click)="dobClick()"></app-text>
            <app-select formControlName="gender" [options]="genderOptions"></app-select>
            <app-textarea formControlName="address" [placeholder]="'Address'"></app-textarea>

            <app-text formControlName="fatherNumber" [placeholder]="'Father\'s contact number'"></app-text>
            <app-text formControlName="motherNumber" [placeholder]="'Mother\'s contact number'"></app-text>
            <app-text formControlName="otherNumber" [placeholder]="'Other contact number'"></app-text>
            <app-text formControlName="whatsAppNumber" [placeholder]="'WhatsApp Number'"></app-text>

            <app-text formControlName="email" [placeholder]="'Email id'"></app-text>

            <app-text formControlName="parentsOccupation" [placeholder]="'Parent\'s / Guardian\'s Occupation'"></app-text>
            <app-textarea formControlName="parentsOccupationAddress" [placeholder]="'Parent\'s / Guardian\'s Office address'"></app-textarea>

            <app-text formControlName="presentSchool" [placeholder]="'Present school'"></app-text>
            <app-text formControlName="previousResult" [placeholder]="'Result of previous year in %'"></app-text>

            <app-text formControlName="password" [placeholder]="'Password'"></app-text>

            <app-button [title]="'Proceed to Pay'" (click)="register()"></app-button>
        </form>
    </div>
</div>