<div class="starter-body">
    <div class="starter-header login">
        <div class="company-details">
            <div class="company-name">Login</div>
            <span>Enter your email and password to continue.</span>
        </div>
    </div>
    <form [formGroup]="loginForm">
        <div class="form">
            <app-text formControlName="email" [placeholder]="'Email'"></app-text>
            <app-text formControlName="password" [type]="'password'" [placeholder]="'Password'"></app-text>
    
            <app-button [title]="'Login'" (click)="login()"></app-button>
        </div>
    </form>
</div>