<div class="starter-body">
    <app-module-header [title]="'Introduction'" [class]="'fixed'"></app-module-header>

    <div class="intro-content">
        <div class="video">
            <iframe src="https://www.youtube.com/embed/L4F1r-Am2KY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>

        <div class="section">
            <h3>Our Facilities</h3>

            <div class="facilities">
                <span>Free Material</span>
            </div>
            <div class="facilities">
                <span>Free Kit</span>
            </div>
            <div class="facilities">
                <span>AC Rooms</span>
            </div>
        </div>

        <div class="section">
            <h3>Our Classes</h3>

            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Class 9
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <b>Timings</b>
                            <ul class="timings">
                                <li>7:00 AM - 9:00 AM</li>
                                <li>10:00 AM - 12:00 PM</li>
                                <li>1:00 PM - 3:00 PM</li>
                            </ul>

                            <b>Fees</b>
                            <ul class="timings">
                                <li>₹ 45,000</li>
                                <li>EMI</li>
                                <ol class="fees-emi">
                                    <li>₹ 15,000</li>
                                    <li>₹ 15,000</li>
                                    <li>₹ 15,000</li>
                                </ol>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Class 10
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <b>Timings</b>
                            <ul class="timings">
                                <li>7:00 AM - 9:00 AM</li>
                                <li>10:00 AM - 12:00 PM</li>
                                <li>1:00 PM - 3:00 PM</li>
                            </ul>

                            <b>Fees</b>
                            <ul class="timings">
                                <li>₹ 45,000</li>
                                <li>EMI</li>
                                <ol class="fees-emi">
                                    <li>₹ 15,000</li>
                                    <li>₹ 15,000</li>
                                    <li>₹ 15,000</li>
                                </ol>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Class 11
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <b>Timings</b>
                            <ul class="timings">
                                <li>7:00 AM - 9:00 AM</li>
                                <li>10:00 AM - 12:00 PM</li>
                                <li>1:00 PM - 3:00 PM</li>
                            </ul>

                            <b>Fees</b>
                            <ul class="timings">
                                <li>₹ 45,000</li>
                                <li>EMI</li>
                                <ol class="fees-emi">
                                    <li>₹ 15,000</li>
                                    <li>₹ 15,000</li>
                                    <li>₹ 15,000</li>
                                </ol>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Class 12
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <b>Timings</b>
                            <ul class="timings">
                                <li>7:00 AM - 9:00 AM</li>
                                <li>10:00 AM - 12:00 PM</li>
                                <li>1:00 PM - 3:00 PM</li>
                            </ul>

                            <b>Fees</b>
                            <ul class="timings">
                                <li>₹ 45,000</li>
                                <li>EMI</li>
                                <ol class="fees-emi">
                                    <li>₹ 15,000</li>
                                    <li>₹ 15,000</li>
                                    <li>₹ 15,000</li>
                                </ol>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>