<div class="module">
    <app-module-header [title]="'Add Kit Details'"></app-module-header>

    <div class="form-row">
        <form [formGroup]="kitForm">
            <app-select formControlName="kit" [options]="kitOptions"></app-select>
            <app-select formControlName="class" [options]="commonService.classesOptions" (change)="getBatches()"></app-select>
            <app-select formControlName="batch" [options]="batchOptions" (change)="getStudents()"></app-select>
        </form>
    </div>

    <div class="section">
        <div class="student" *ngFor="let student of studentList">
            <div class="name">
                {{ student.firstName + ' ' + student.surname }}
            </div>
            <div class="checkbox">
                <input type="checkbox" [(ngModel)]="student.isSelected" (ngModelChange)="isUpdate ? onChangeSelect(student) : {}" />
            </div>
        </div>

        <div class="button-area">
            <app-button [title]="'Save Kit'" (click)="saveKit()"></app-button>
        </div>
    </div>
</div>