.section {
    padding: 0px 20px;
    text-align: left;
}

.fees-input {
    margin-top: 20px;
}

.fees-input .heading .title {
    display: inline-block;
    margin-right: 10px;
}

.fees-input .heading i {
    color: red;
}