.primary-btn {
    background-color: #E8C547;
    border: 1px solid #E8C547;
    width: -webkit-fill-available;
    padding: 15px 10px;
    border-radius: 5px;
    margin: 0px auto;
    margin-top: 20px;
    color: #30323D;
    text-align: center;
}
.primary-btn:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.primary-btn.secondary {
    background-color: #62BBC1;
    border: 1px solid #62BBC1;
}

.primary-btn.grey {
    background-color: #FFF;
    border: 1px solid #777;
    color: #777;
    width: fit-content;
}

.primary-btn.fit {
    width: fit-content;
    margin: 20px 0px;
    padding: 12px 10px;
}